* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
}

:root {
    --primarycl: #FFBF00;
    --secondarycl: rgb(255, 255, 255);
    --thirdcl: #141414;
    --primaryclA: #f3c04071;
    --secondaryclA: #ffffff80;
    --thirdclA: #1414147a;
}

body {
    overflow-x: hidden;

    --cell: 10px;
    --dot: 58%;
    --glow: 0 0 22px rgba(244, 231, 42, 0.685), 0 0 52px rgba(244, 231, 42, 0.548);
    background:
        radial-gradient(circle at center, rgb(230, 229, 229) var(--dot), transparent calc(var(--dot) + 0.5%)) 0 0 / var(--cell) var(--cell) repeat;

}

.topbg {
    width: 100vw;
    height: 94vh;
    max-height: 640px;
}

.nav {
    max-height: 90px;
    width: 100%;
    height: 13vh;
    background: var(--thirdclA);
    backdrop-filter: blur(20px);
    z-index: 999;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 20px 0;
    box-shadow: 0 0 20px var(--thirdclA);
}

.nav .logo {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    color: var(--secondarycl);
    font-size: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
}

.nav .logo .img {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border-top: 7px solid var(--primarycl);
    border-bottom: 7px dashed var(--secondarycl);
    box-shadow: 0 0 20px var(--primaryclA);
    background-color: var(--primarycl);
}

.nav .logo .img img {
    height: 100%;
    width: 100%;
    border-radius: inherit;
}

.nav ul {
    height: 100%;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav ul li a {
    transition: .3s;
    color: var(--primarycl);
    border-bottom: 2px solid var(--primarycl);
    font-weight: 700;
    padding: 10px;
    background-color: #00000052;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color: var(--primaryclA);
    box-shadow: 0 0 10px var(--primaryclA);
    border-radius: 0 0 10px 10px;
    text-shadow: 0 0 10px black;
}

.cont {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: -20px;
}



.inboxtp {
    min-width: 540px;
    width: 56%;
    height: 100%;
    border-right: 10px double var(--primarycl);

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-image: url(../img/check\ \(1\).jpg);
    background-size: contain;

    animation: 20s scr linear infinite;
}

.inboxtp .dim {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.856);
}

@keyframes scr {
    0% {
        background-position-y: top;
    }

    50% {
        background-position-y: bottom;
    }

    100% {
        background-position-y: top;
    }
}

.txtsp {
    min-width: 300px;
    width: 90%;
    height: 100%;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2%;
    color: var(--secondarycl);
    text-shadow: 0 0 12px #00000052;
}


.txtsp div {
    background-color: #141414;
    width: 90%;
    height: 37%;
    display: flex;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid rgb(99, 98, 98);
}

.txtsp div .left {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: flex-end;
    border-right: 1px solid var(--secondarycl);

}

.txtsp .left .inl {
    height: 84%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.txtsp .left .inl .inlsplit {
    height: 100%;
    width: 34%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 14px;
    font-size: 9px;
    padding-top: 10px;
    color: rgb(170, 170, 170);
}

.txtsp .left .inl .inlsplit i:hover {
    cursor: pointer;
    color: var(--primarycl);
}

#wildspl {
    width: 60%;
    padding-top: 20px;
    border-left: 1px solid blue;
    cursor: row-resize;
    font-size: 6px;
    padding: 1px 2px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

#wildspl p {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    gap: 3px;
    padding: 2px;
    transition: .2s;
    cursor: pointer;
}

span#grn {
    color: #26da26;
}

span#yel {
    color: #fab144;
}

#wildspl .fa-html5 {
    color: #FFBF00;
    font-size: 3px;
}

#wildspl p:hover {
    background-color: rgba(128, 128, 128, 0.26);
}

.txtsp div .right {
    height: 100%;
    width: 10%;
    border-left: 1px solid var(--secondarycl);
}

.txtsp div .hthd {
    height: 15%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    border-bottom: 1px solid var(--secondarycl);
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 5px;
}

.txtsp .hthd .bthd {
    height: 100%;
    width: 43%;
    border: 1px solid var(--secondaryclA);
    border-radius: 2px;
    margin-left: 3rem;
    font-size: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: var(--secondarycl);
}


.txtsp .hthd .othhd {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--secondarycl);
    margin-left: 1.4rem;
    font-size: 11px;
}

.txtsp .hthd .othhd i {
    transition: .2s;
    cursor: pointer;
    padding: 3px;
}

.txtsp .hthd .othhd i:hover {
    background-color: #80808079;
    color: var(--primarycl);
}

.txtsp .hthd .othhd .fa-xmark:hover {
    background-color: rgb(255, 1, 1);
    color: white;
}

.txtsp div .bodyht {
    height: 100%;
    width: 70%;
    display: flex;
    align-items: flex-end;
}


.txtsp div .bodyht .inbdy {
    padding: 4px;
    height: 87%;
    width: 100%;
    background-color: #0f0f0f;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.inbdy p {
    color: gray;
    font-size: 0.77rem;
}

.inbdy .pb {
    color: rgb(28, 28, 230);
}

.inbdy .atr {
    color: #20ecf3;
}

.inbdy .wh {
    color: white;
}

.inbdy .id {
    margin-left: 6%;
}

.inbdy .id2 {
    padding-left: 13px;
    border-left: 1px solid gray;
}

.inbdy::-webkit-scrollbar {
    width: 8px;
    background-color: rgb(48, 47, 47);
}

.inbdy::-webkit-scrollbar-thumb {
    background-color: var(--thirdclA);
    border-radius: 10px;
}

/* ---- */


.txtsp h1 span {
    animation: 1s blink linear infinite;
    opacity: 0;
    font-size: 5rem;
}

@keyframes blink {
    to {
        opacity: 1;
    }
}

.gold {
    color: var(--primarycl);
    font-family: monospace;
    text-shadow: 0 0 10px black;
}

.txtsp h1 {
    font-size: 3vmin;
    letter-spacing: 7px;
}

.txtsp h2 {
    font-size: 3vmin;
    margin-top: 17%;
}

.txtsp p {
    letter-spacing: 2px;

}


/* % 5 6 u U */
.weather-day {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/weather-day.webp);
    background-size: cover;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    opacity: 0.1;
}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-right: 2vw;
    margin-top: 18vh;
    background: radial-gradient(circle, gold, rgb(243, 238, 191));
    box-shadow: 0 0 80px gold;
}

.weather-nyt {
    width: 100%;
    height: 100%;
    position: absolute;

    background-color: #0f0f0f00;
    animation: 10s fade linear infinite;
}

/* @keyframes fade {
    0% {
        opacity: 0.7;
        
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0.7;
        
    }
} */

.cov {
    background-color: #080808;
    width: 44%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    --cell: 10px;
    --dot: 58%;
    --glow: 0 0 22px rgba(244, 231, 42, 0.685), 0 0 52px rgba(244, 231, 42, 0.548);
    background:
        radial-gradient(circle at center, gold var(--dot), transparent calc(var(--dot) + 0.5%)) 0 0 / var(--cell) var(--cell) repeat;


}

.bgtp {
    /* position: absolute; */
    min-width: 320px;
    width: 90%;
    height: 37%;
    transform: translateX(-22%);
    background-color: rgba(255, 255, 255, 0.151);
    border: 8px solid #ffffff6c;
    border-bottom: 12px double var(--primarycl);
    box-shadow: var(--primaryclA) 0px 20px 10px -7px, var(--thirdclA) 0px 60px 40px -7px;

}

.bigin {
    height: 440px;
    width: 100%;
    transform: translateY(-51%);
    /* box-shadow: var(--thirdclA) 0px 70px 40px -7px; */
}


@media(max-width:580px) {
    .inboxtp {
        width: 100%;
        border-left: 10px double gold;
    }

    .cov {
        display: none;
    }

    .nav ul {
        display: none;
    }

}

/* % 5 6 u U */